<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>CREATE YOUR ANIMAL!!</h1>
    <form action="/mongooses/new" method="post">
        <p>Type: <input name="type" type="text" placeholder="I.e. Owl, Cat, Dog, Liger, etc"></p>
        <p>Diet: <select name="diet">
            <option value="carnivour">Carnivour</option>
            <option value="herbivour">Herbivour</option>
            <option value="omnivour">Omnivour</option>
        </select></p>
        <p>Mammal: <input type="radio" name="mammal" value="true" checked>Yes<br>
        <input type="radio" name="mammal" value="false">No</p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>