<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Add Player</h3>
  {{ player | json }}
  <form (submit)="createPlayer()">
    Name: <input type="text" name="player.name" [(ngModel)]="player.name"> <br>
    Preferred Position: <input type="text" name="player.position" [(ngModel)]="player.position">
    <input type="submit" value="Submit">
  </form>
</body>
</html>