<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
<form action='/process' method='post'>
    Name: <input type='text' name='name'>
    <!-- Location: <select name="location">
        <option value="DC">DC</option>
        <option value="Seatle">Seatle</option>
        <option value="San Francisco">San Francisco</option>
        <option value="Chicago">Chicago</option>
    </select>
    Favorite Language: <select name="language">
        <option value="Python">Python</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
    </select>
    Comments: <textarea name="comment" id="" cols="30" rows="10"></textarea> -->
    <input type='submit' value='Submit'>
</form>
</body>
</html>