<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <p>Name: <%= post.name %></p>
    <p>Location: <%= post.location %></p>
    <p>Language: <%= post.language %></p>
    <p>Comment: <%= post.comment %></p>
</body>
</html>