<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/addQuote" method="post">
        <input type="text" name="source" placeholder="Source">
        <textarea name="quote" cols="30" rows="10" placeholder="Type quote here"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>